@import '../../styles/variables.css';

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 1rem;
	color: var(--colour-grey);
	background-color: var(--colour-black);

	/* border-bottom: var(--border-md); */

	& a {
		margin-right: var(--spacing-1);
		color: var(--colour-primary);

		&.is-active {
			color: var(--colour-highlight);
		}
	}
}

.header__title {
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
	margin-bottom: 0;
}
