@import '../../styles/variables.css';

.tabs {
	display: flex;
	/* border-top: var(--border-md); */

	/* border-bottom: var(--border-md); */

	/* border-left: var(--border-md); */
	margin-bottom: 1rem;
}

.tabs__tab {
	flex: 1;
	margin-bottom: 0.5rem;
	padding: 0.75rem;
	font-size: var(--font-size-sm);
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing-lg);
	text-align: center;
	color: var(--colour-grey-400);
}

.tabs__tab--is-selected {
	position: relative;
	/* font-weight: 700; */
	color: var(--colour-white);

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		width: 2rem;
		height: 6px;
		margin: 0 auto;
		border-radius: 6px;
		background-color: var(--colour-primary);
	}
}

@media (--screen-sm) {
	.tabs__tab--is-selected {
		&:after {
			content: none;
		}
	}
}
