@import '../../styles/variables.css';

.insight-card {
	height: 100%;
}

.insight-card__step {
	display: flex;
	align-items: flex-start;
	height: 14rem;
	padding-top: 1rem;
	border-left: var(--border-md);

	& p {
		padding-left: 1rem;
		color: var(--colour-grey-800);
		font-weight: 500;
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
		border-left: 3px solid var(--colour-grey-700);
		transition: color 0.4s;
	}

	& strong {
		color: var(--colour-data-1);
	}
}

@media (--screen-sm) {
	.insight-card__step {
		align-items: center;
		height: 100%;
		padding-right: 1rem;

		& p {
			font-weight: 400;
			font-size: var(--font-size-lg);
			line-height: var(--line-height-lg);
		}

		/* &:nth-child(5n + 2) {
			& strong {
				color: var(--colour-data-3);
			}
		}

		&:nth-child(5n + 3) {
			& strong {
				color: var(--colour-data-4);
			}
		}

		&:nth-child(5n + 4) {
			& strong {
				color: var(--colour-data-5);
			}
		}

		&:nth-child(5n + 5) {
			& strong {
				color: var(--colour-data-6);
			}
		} */
	}
}

.insight-card__step--is-selected {
	& p {
		color: var(--colour-grey-100);
	}

	/* opacity: 1; */
}
