@import '../../styles/variables.css';

.indicators-selector-box {
	display: flex;

	& h3 {
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
		margin-bottom: var(--spacing-1);
	}

	& p {
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
		margin-bottom: var(--spacing-1);
	}

	& label {
		display: flex;
		align-items: center;
		width: 4rem;
		height: 2rem;
		font-weight: 300;

		/* text-align: center; */

		& svg {
			margin-left: 0.5rem;
		}
	}
}

@media (--screen-sm) {
	.indicators-selector-box {
		width: calc(50% - 1rem);
		float: left;
		padding-left: 1rem;
		border-left: var(--border-md);
	}

	.indicators-selector-box:first-child {
		margin-right: 2rem;
	}
}

.indicators-selector-box__select-group {
	/* display: flex; */

	/* align-items: baseline; */
	width: 100%;
}

.indicators-selector-box__select {
	width: 100%;
	font-size: var(--font-size-md);
	margin-bottom: var(--spacing-1);
}

.indicators-selector-box__metadata {
	display: none;
}

@media (--screen-sm) {
	.indicators-selector-box__metadata {
		display: block;
	}
}

/* .indicators-selector-box__notes {
} */

.indicators-selector-box__source {
	display: flex;
	color: var(--colour-grey-500);

	& h3 {
		margin-right: 0.5rem;
	}
}
