@import '../../styles/variables.css';

.legend {
	display: flex;
	flex-wrap: wrap;
	max-width: 40rem;

	/* margin-bottom: var(--spacing-1); */
	font-size: var(--font-size-xs);
	line-height: var(--line-height-xs);
}

/* @media (--screen-sm) {
	.legend {
		display: block;
	}
} */

.legend__item {
	display: flex;
	flex: 0 0 33%;
	padding: 0.25rem 0.25rem 0.25rem 0;
}

@media (--screen-sm) {
	.legend__item {
		flex: auto;
	}
}

.legend__symbol {
	width: 1rem;
	height: 1rem;
	margin-right: var(--spacing-xxs);
	background-color: red;
	border-radius: 1rem;
}
