@import '../styles/variables.css';

.home-page__app {
	height: 100%;
}

@media (--screen-sm) {
	.home-page__app {
		display: flex;
	}
}

@media (--screen-sm) {
	.home-page {
		width: 67%;
		height: 100%;

		/* overflow: auto; */
	}
}

.home-page__aside {
	display: none;
}

@media (--screen-sm) {
	.home-page__aside {
		display: block;
		width: calc(33%);
		height: 100%;
		overflow: auto;
		margin-left: 3rem;
		margin-right: -1rem;
		padding-right: 1rem;

		& h1 {
			margin-bottom: 1rem;
			padding-top: 0.5rem;
			border-top: var(--border-md);
			font-size: var(--font-size-sm);
			line-height: var(--line-height-sm);
			text-transform: uppercase;
		}
	}
}

.home-page__aside::-webkit-scrollbar {
	width: 6px;
}

.home-page__aside::-webkit-scrollbar-thumb {
	background-color: var(--colour-grey-700);
	border-radius: 6px;
}

.home-page__title {
	font-size: var(--font-size-lg);
	line-height: 1.5rem;
	margin-bottom: 0.5rem;
}

@media (--screen-sm) {
	.home-page__title {
		font-size: var(--font-size-xxlg);
		margin-bottom: var(--spacing-1);
	}
}

.home-page__chart {
	height: calc(100vh - 25rem);
	margin-bottom: 1rem;
}

@media (--screen-sm) {
	.home-page__chart {
		margin-bottom: var(--spacing-2);
	}
}

.home-page__intro {
	margin-bottom: 1rem;
	color: var(--colour-grey-300);
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
}

/* .home-page__tabs {
	display: none;
} */

@media (--screen-sm) {
	.home-page__tabs {
		/* display: block; */

		& .tabs__tab:first-child {
			padding-left: 0;
			text-align: left;
			border-bottom: none;
		}

		& .tabs__tab:nth-child(2) {
			display: none;
		}
	}
}
