@import './base.css';
@import './variables.css';

/*
 * HELPERS
 * ========================================================================== */

#__next {
	height: 100%;
}

/*
 * CONTAINERS
 * -------------------------------------------------------------------------- */

.container {
	lost-utility: clearfix;

	width: 100%;
	margin: 0 auto;
}

.container--sm {
	max-width: var(--container-width-sm);
}

.container--md {
	max-width: var(--container-width-md);
}

.container--lg {
	max-width: var(--container-width-lg);
}

.container--xlg {
	max-width: var(--container-width-xlg);
}

/*
 * REACT-SELECT
 * -------------------------------------------------------------------------- */

.select {
	margin-bottom: 1rem;

	& span {
		border: none;
	}

	& .select__control {
		min-height: 2rem;

		/* background-color: var(--colour-grey-100); */
		background-color: var(--colour-grey-800);
		border: none;
		border-radius: 6px;
	}

	/* & .select__control--is-focused {
	} */

	& .select__menu {
		border-radius: 6px;
		color: var(--colour-grey-900);
		background-color: var(--colour-grey-100);
	}

	& .select__single-value {
		font-size: var(--font-size-md);
		line-height: var(--line-height-md);
		font-weight: 600;
		color: var(--colour-grey-100);
	}

	& .select__option--is-selected {
		background-color: var(--colour-grey-900);
	}

	& .select__option--is-focused {
		background-color: var(--colour-grey-200);
		color: var(--colour-grey-900);
	}
}

.heading-select {
	& .heading-select__control {
		border: none;
		border-radius: 6px;
		background-color: var(--colour-grey-100);
	}

	& .heading-select__single-value {
		font-size: var(--font-size-lg);
		font-weight: 700;
		line-height: var(--line-height-lg);
	}
}

/*
 * NAV-BUTTON
 * -------------------------------------------------------------------------- */

.nav-button {
	padding: 1rem;
	background-color: transparent;
	border: none;
	color: var(--colour-primary);

	&:disabled {
		color: var(--colour-grey-700);
	}
}

/*
 * SUBHEADING
 * -------------------------------------------------------------------------- */

.subheading {
}
