@import './base.css';
@import './variables.css';

/*
 * HELPERS
 * ========================================================================== */

/*
 * CONTAINERS
 * -------------------------------------------------------------------------- */

.container {
	lost-utility: clearfix;

	width: 100%;
	margin: 0 auto;
}

.container--sm {
	max-width: var(--container-width-sm);
}

.container--md {
	max-width: var(--container-width-md);
}

.container--lg {
	max-width: var(--container-width-lg);
}

.container--xlg {
	max-width: var(--container-width-xlg);
}

/*
 * REACT-SELECT
 * -------------------------------------------------------------------------- */

.select {
	margin-bottom: 1rem;

	& .select__control {
		min-height: 2rem;
		background-color: var(--colour-grey-100);
		border: none;
		border-radius: 6px;
	}
}

.heading-select {
	& .heading-select__control {
		border: none;
		border-radius: 6px;
		background-color: var(--colour-grey-100);
	}

	& .heading-select__single-value {
		font-size: var(--font-size-lg);
		font-weight: 700;
		line-height: var(--line-height-lg);
	}
}
